<%= form_with(model: evaluation) do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>
      <ul>
        <% evaluation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grid %>
    <div id="grid"></div>    
    <br>
    <button id="addRowBtn" onclick="addRow();return false;">Add Row</button>
    <button id="addColumnBtn" onclick="addColumn();return false;">Add Column</button>
    <button id="randomBtn" onclick="randomize();return false;">Randomize</button>
    <hr>
    <%= form.hidden_field :grid %>
  </div>
  <br>
  <div class="actions">
    <button id="validateAndSubmitBtn" onclick="validateAndSubmit();">Submit</button>
  </div>
<% end %>

<script>
 
  const grid  = document.getElementById("grid");
  let rows    = 0;
  let columns = 1;
  
  // Function to generate the grid
  function generateGrid() {

    let html = "<table>";

      for (let i = 0; i < rows; i++) {
      html += "<tr>";
      for (let j = 0; j < columns; j++) {
        html += `<td><input type="text" pattern="1|0" maxlength="1" size="1" id="cell-${i}-${j}" required></td>`;
      }
      html += "</tr>";
    }

    html += "</table>";
    grid.innerHTML = html;
  }

  // Function to add rows
  function addRow() {
    rows++;
    generateGrid();
    return false;
  }

  // Function to add columns
  function addColumn() {
    columns++;
    generateGrid();
    return false;
  }

  // Randomize generation
  function randomize() {

    rows    = Math.floor(Math.random() * 10) + 2;
    columns = Math.floor(Math.random() * 10) + 2;

    generateGrid();
    fillGrid();
  }

  // Fill generated grid 
  function fillGrid() {

    for (let i = 0; i < rows; i++) {
      for (let j = 0; j < columns; j++) {

        document.getElementById(`cell-${i}-${j}`).value = Math.random()<0.5?0:1
      }
    }
  }

  // Validates and submits
  function validateAndSubmit() {

    let gridx = [];

    for (let i = 0; i < rows; i++) {
      
      let cols = [];
      
      for (let j = 0; j < columns; j++) {

        let value = document.getElementById(`cell-${i}-${j}`).value;

        if ( value!='0' &&  value!='1' ) {

          alert('Some of the values on the grid are invalid');
          return false;
        }

        cols.push(value);
      }
      gridx.push(cols);
    }

    document.getElementById('evaluation_grid').value = JSON.stringify(gridx);
    document.getElementsByTagName('form')[0].submit();    
  }
</script>
