<table>
  <% evaluation.grid.each_with_index do |row, row_index| %>  
      <tr>
        <% row.each_with_index do |col, col_index| %>
          <td style="<%=highlight_path_cell(row_index, col_index, evaluation.path)%>"><%=col%></td>
        <% end %>
      </tr>
  <% end %>
</table>