<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th style="text-align: left; ">Grid</th>
      <th>Evaluated?</th>
      <th>Conductive Path Presence?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= grid_info(evaluation.grid) %></td>
        <td><%= evaluation.evaluated %></td>
        <td><%= evaluation.path_presence %></td>
        <td><%= link_to 'Show', evaluation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
