<p id="notice"><%= notice %></p>

<p>
  <strong>Grid Info:</strong>
  <%= grid_info(@evaluation.grid) %>
</p>

<p>
  <strong>Continuous Path Presence:</strong>
  <%= @evaluation.path_presence %>
</p>

<p>
  <strong>Grid:</strong>
  <%= render 'grid_path', evaluation: @evaluation %>
</p>

<%= link_to 'Back', evaluations_path %>